<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chrisantuseze.hadum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ha_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCX4zYKkiOuBFGvfHOAd9mqot_ePtkIOZc" />

        <activity
            android:name=".Splash"/>
        <activity
            android:name=".Academia.Results"
            android:label="Results" />
        <activity
            android:name=".Assistant.Note.Notes"
            android:label="Notes" />
        <activity
            android:name=".Assistant.Todo.Todo_List"
            android:label="Todo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Academia.Books"
            android:label="Books" />
        <activity
            android:name=".Academia.Courses"
            android:label="View Courses" />
        <activity
            android:name=".Assistant.Mute.Mute_Phone"
            android:label="Ring Status" />
        <activity
            android:name=".Assistant.Todo.AddActivity"
            android:label="Add Todo" />

        <receiver android:name=".Assistant.Mute.MyReceiver" />
        <receiver android:name=".Assistant.Mute.MyReceiver2" />

        <activity android:name=".Assistant.Note.Notepad" />
        <activity android:name=".Assistant.Calender.CustomCalendarActivity" />
        <activity android:name=".Timetable.Adds.AddMon" />
        <activity android:name=".Timetable.Adds.AddTues" />
        <activity android:name=".Timetable.Adds.AddWed" />
        <activity android:name=".Timetable.Adds.AddThurs" />
        <activity android:name=".Timetable.Adds.AddFri" />
        <activity
            android:name=".Nav.Places"
            android:label="Environs" />
        <activity
            android:name=".Timetable.Timetable"
            android:label="@string/title_activity_timetable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nav.Quiz"
            android:label="Play Quiz" />
        <activity
            android:name=".Quiz.LandingActivity"
            android:label="Play Quiz" />
        <activity
            android:name=".Quiz.QuizSplashScreen"
            android:label="@string/title_activity_quiz_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz.BestScore"
            android:label="Best Score" />
        <activity
            android:name=".Quiz.QuizCategory"
            android:label="Category" />
        <activity
            android:name=".Quiz.Categories.Sports"
            android:label="Quiz on Sports" />
        <activity
            android:name=".Quiz.Categories.Politics"
            android:label="Quiz on Politics" />
        <activity
            android:name=".Quiz.Categories.Geography"
            android:label="Quiz on Geography" />
        <activity
            android:name=".Quiz.Categories.Religion"
            android:label="Quiz on Religion" />
        <activity
            android:name=".Quiz.Categories.FUTO"
            android:label="Quiz on FUTO" />
        <activity
            android:name=".Quiz.Categories.Technology"
            android:label="Quiz on Technology" />
        <activity android:name=".Welcome" />
        <activity android:name=".Nav.Website" />
        <activity android:name=".Assistant.Result.GPACalculator" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".Assistant.Result.Authenticate" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Settings.EditName" />
        <activity android:name=".Settings.EditRegNo" />
        <activity android:name=".Settings.EditDept" />
        <activity android:name=".Settings.EditLevel" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>